{{ define "main" }}
  {{ .Content }}
{{ end }}


{{ define "sidebar" }}
<div id="sidebar">
    <h1>Latest News</h1>
    <!-- news begin -->
    {{ range where .Site.Pages "Type" "news" | first 3 }}
      {{ if ne .Title "News" }}
        <div id="sidebar_news">
          <h1><a href="{{ .RelPermalink }}">{{ .Title }}</a> ({{ .PublishDate.Format "2006-01-02" }})</h1>
          <p>{{ .Summary }}</p>
        </div>
      {{ end }}
    {{ end }}
    <!-- news end -->
    <div id="sidebar_nav">
      <ul>
        <li><a href="/news">All News</a></li>
      </ul>
    </div>

    <div id="cmdref" style="margin-left: 35px; margin-top: 40px;">
      <a href="/documentation/reference/commands">COMMAND REFERENCE</a>
    </div>
    <div id="getwetator" style="margin-left: 59px; margin-top: 40px;">
      <a href="/download"><img src="/images/wetator-download.png" width="120" height="42"></a>
    </div>
</div>
{{ end }}