<!-- partial head begin -->
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />

  <meta http-equiv="language" content="english, en">
  <meta name="keywords" content="test,testing,bingo,bongo,bingobongo,application,gamification,effective,fun">
  <meta name="description" content="Bingo Bongo Test Methodology">
  <meta name="page-topic" content="Software-Testing">
  <meta name="author" content="Ronald Brill">
  <meta name="publisher" content="Ronald Brill">
  <meta name="copyright" content="(c) Ronald Brill">
  <meta name="robots" content="index,nofollow">
  <meta name="revisit-after" content="14 days">

  <link href='https://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
  <title>{{ .Title }}</title>
  <link rel="shortcut icon" type="image/x-icon" href="{{ .Site.BaseURL }}images/favicon.ico" />
  <link rel="stylesheet" href="{{ .Site.BaseURL }}css/normalize.css">
  <link rel="stylesheet" href="{{ .Site.BaseURL }}css/default.css">
  <link rel="stylesheet" href="{{ .Site.BaseURL }}css/content.css">

</head>
<!-- partial head end -->