/* ********************************** */
/* RBRi 2009, 2011, 2016, 2021        */
/* ********************************** */
/*
font size see: http://www.1ngo.de/web/em.html
*/

#content {
  padding-left: 1em;
  padding-right: 1em;
  border-left: 0.1em solid #bbbbbb;
  padding-top: 0.1em;
}

#content h1 {
  color: #00769c;
  /* font-size: 1.75em; */
  font-size:2.01em;
  font-weight: normal;
  font-variant: small-caps;
  padding: 0.2em 0 0.3em;
  margin-bottom: 0.1em;
}

#content h2 {
  color: #00769c;
  font-size: 1.38em;
  font-weight: normal;
  padding: 0.7em 0 0.48em;
}

#content h3 {
  color: #00769c;
  font-size: 1.12em;
  font-weight: normal;
  padding: 0.7em 0 0.48em;
}

#content h4 {
  color: #00769c;
  font-size: 1em;
  font-weight: normal;
  margin-left: 0.5em;
  padding: 0.7em 0 0.48em 0;
}

#content h5 {
  color: #00769c;
  font-size: 0.88em;
  font-weight: normal;
  padding: 0.8em 0 0.1em 0;
}

#content p, #content ul, #content ol {
  font-size: 0.88em;
}

#content p {
  background-color: transparent;
  color: #000000;
  font-weight: normal;
  margin-bottom: 4px;
  margin-top: 0;
  padding-top: 1px;
}

#content ul, #content ol {
  margin-bottom: 7px;
  margin-top: 0;
  padding-left: 25px;
  padding-top: 1px;
}
